doctype html
html(lang="nl")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")

    title Stadspas
    link(href=urlToCSS rel="stylesheet")

  body
    header
      img(id="amsterdam-logo" src=urlToImage)

    div(class='main')
      h1 Inloggen
      p Open de Amsterdam App om verder te gaan.

      if administratienummerEncrypted
        pre #{administratienummerEncrypted}

      if error
        p Foutmelding: #{error.code} - #{error.message}

      a(href=appHref id='protocol-link-button') Open Amsterdam App

    if promptOpenApp
      script(type='text/javascript' nonce=nonce).
        function logoutAndOpenApp() {
          document.getElementById('protocol-link-button').click();
          setTimeout(() => {
            window.location.href = '#{logoutUrl}';
          }, 100);
        }

        document.addEventListener('DOMContentLoaded', logoutAndOpenApp);




