doctype html
html(lang="nl")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")

    title Mijn Amsterdam
    link(href=urlToCSS rel="stylesheet")

  body
    header
      img(id="amsterdam-logo" src=urlToImage)

    div(class='main')
      h1 Inloggen
      p Open de Amsterdam App om verder te gaan.

      if identifier
        pre #{identifier}

      if error
        p Foutmelding: #{error.code} - #{error.message}

      if promptOpenApp
        a(href=appHref id='protocol-link-button') Open Amsterdam App

    if !promptOpenApp && logoutUrl
      script(type='text/javascript' nonce=nonce).
        window.sessionStorage.setItem('amsapphref','#{appHref}');
        window.location.href = '#{logoutUrl}';

    if promptOpenApp
      script(type='text/javascript' nonce=nonce).
        const protocolLink = document.getElementById('protocol-link-button');
        const appHref = window.sessionStorage.getItem('amsapphref');

        if (appHref) {
          window.sessionStorage.removeItem('amsapphref');
          protocolLink.setAttribute('href', appHref);
        }

        function openApp() {
          protocolLink.click();
        }

        document.addEventListener('DOMContentLoaded', openApp);




