h1
  code= tableNameLoginCount
    if authMethodSelected
      span :#{authMethodSelected}
    else
      span :all

nav
  a(href=`/api/v1/admin/visitors`) all
  | #{' '} | #{' '}
  a(href=`/api/v1/admin/visitors/digid`) digid
  | #{' '} | #{' '}
  a(href=`/api/v1/admin/visitors/eherkenning`) eherkenning
<hr/>
nav
  a(href)
nav
  each range in ranges
    a(href=`?dateStart=${range.dateStart}&dateEnd=${range.dateEnd}`) #{range.label}
    | #{' '} | #{' '}

table
  tr
    th Totaal logins
    td= totalLogins
  tr
    th Unieke ingelogde bezoekers
    td= uniqueLogins
  tr
    th Laatste login
    td= dateMax
  tr
    th Eerste login
    td= dateMin


h3 Selecteer datum bereik

form(action='')
  label Vanaf
    input(name='dateStart', type='date', value=dateStart)
  label Tot
    input(name='dateEnd', type='date', value=dateEnd)
  button(type='submit') Verstuur
